

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="AddNote" asp-controller="Note">Добавить заметку </a>
    <br />
    <a asp-action="ListOfNotes" asp-controller="Note"> Мои заметки</a>
    <br />


    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <br />
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}